@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Playfair+Display&family=Quattrocento&display=swap");

html,
body {
  padding: 0px;
  margin: 0;
  background-color: #000;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

article {
  padding-top: 35px;
}
