.container {
  box-sizing: border-box;
}

.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 0px 5px 5px 5px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ul {
  width: 90%;
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  justify-content: space-around;
}

.about,
.projects,
.skills,
.contacts {
  width: 25%;
}

.ul > li:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .main {
    padding: 5px 5px 5px 5px;
  }
  .ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1480px) {
  .main {
    padding: 5px 5px 5px 5px;
  }
  .ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
